In [10]:
import pandas as pd

In [12]:
df = pd.read_csv('../../../data/uspatentcitation.tsv', delimiter='\t')

In [13]:
df.head()

,uuid,patent_id,citation_id,date,name,kind,country,category,sequence
0,00000jd7thmiucpaol1hm1835,5354551,4875247,1989-10-01,Berg,NaN,US,NaN,11.0
1,00001005a7ti553pqlju1r2zo,9504742,4666886,1987-05-01,Baschang et al.,A,US,cited by applicant,5.0
2,00002ghv7v87txbmryocp9i60,D490798,D190749,1961-06-01,Matri et al.,S,US,cited by examiner,1.0
3,000034l12awrqow221x9q9jhl,8385913,7991644,2011-08-01,Bryant et al.,B2,US,cited by applicant,38.0
4,000041tx55fp5d0rqjofqfp5f,8695863,4683810,1987-08-01,Afimiwala,A,US,cited by examiner,3.0

In [16]:
edges = df[['patent_id','citation_id']]
edges.head()

  patent_id citation_id
0   5354551     4875247
1   9504742     4666886
2   D490798     D190749
3   8385913     7991644
4   8695863     4683810

In [20]:
import networkx as nx
%matplotlib inline

G = nx.from_pandas_dataframe(edges, 'patent_id', 'citation_id')

AttributeError: module 'networkx' has no attribute 'from_pandas_dataframe'